In [36]:
import pandas as pd

dfs = []
for i in range(3):
    title = "C:\\Users\\choiyool00\\Desktop\\Co-op\\ann\\Vectorized_Seoul" + str(2019 + i) + ".csv"
    dfs.append(pd.read_csv(title, index_col=0))

In [37]:
for i in range(3):
    dfs[i] = dfs[i].drop(['Date Time', 'Temperature', 'Precipitation', 'Weather Code', 'Hour Time'], axis=1)

In [38]:
dfs[0]

,Vector,Wind Speed,Sunshine,Humidity,Cloud Level,Dust Density,Hour Category,Season Category,Weekday,IsHoliday,Feeling Temperature,Discomfort Index,Dust Level,IsRain
0,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",1.5,0.0,91.0,10.0,7.0,3,1,7,1,22.185325,2,1,1
1,"0, 0, 0, 0, 0, 0, 1, 0, 0, 0",4.5,1.0,30.0,0.0,33.0,3,1,2,0,23.652381,1,2,0
2,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",1.3,1.0,33.0,0.0,48.0,3,1,5,0,31.082180,2,2,0
3,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",3.5,0.0,62.0,0.0,12.0,4,1,1,0,14.674211,1,1,0
4,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",4.3,1.0,28.0,0.0,31.0,3,1,3,0,28.005166,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3617,"115, 125, 0, 313, 83, 97, 71, 36, 46, 22",1.7,0.0,38.0,0.0,21.0,4,4,2,0,-10.016967,1,1,0
3618,"105, 101, 0, 273, 75, 61, 53, 31, 44, 30",2.9,0.0,41.0,0.0,27.0,4,4,2,0,-11.818321,1,1,0
3619,"70, 71, 0, 265, 73, 60, 39, 16, 30, 9",0.8,0.0,43.0,0.0,27.0,4,4,2,0,-8.421048,1,1,0
3620,"51, 59, 0, 254, 44, 44, 18, 4, 18, 8",0.0,0.0,42.0,0.0,29.0,4,4,2,0,8.023700,1,1,0
3621,"14, 50, 0, 198, 7, 45, 18, 2, 4, 7",0.0,0.0,45.0,9.0,24.0,4,4,2,0,8.520900,1,1,0

In [44]:
merged_df = pd.concat([dfs[0], dfs[1], dfs[2]])

In [45]:
merged_df

,Vector,Wind Speed,Sunshine,Humidity,Cloud Level,Dust Density,Hour Category,Season Category,Weekday,IsHoliday,Feeling Temperature,Discomfort Index,Dust Level,IsRain
0,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",1.5,0.0,91.0,10.0,7.0,3,1,7,1,22.185325,2,1,1
1,"0, 0, 0, 0, 0, 0, 1, 0, 0, 0",4.5,1.0,30.0,0.0,33.0,3,1,2,0,23.652381,1,2,0
2,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",1.3,1.0,33.0,0.0,48.0,3,1,5,0,31.082180,2,2,0
3,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",3.5,0.0,62.0,0.0,12.0,4,1,1,0,14.674211,1,1,0
4,"0, 0, 0, 1, 0, 0, 0, 0, 0, 0",4.3,1.0,28.0,0.0,31.0,3,1,3,0,28.005166,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4717,"51, 13, 0, 93, 45, 2, 25, 129, 35, 3",4.3,1.0,60.0,2.0,30.0,4,2,6,1,33.691317,4,1,0
4718,"25, 2, 0, 110, 40, 0, 37, 86, 23, 0",3.2,0.1,63.0,2.0,27.0,4,2,6,1,31.454266,3,1,0
4719,"13, 5, 0, 61, 44, 3, 7, 32, 17, 1",2.0,0.0,65.0,9.0,34.0,4,2,6,1,30.970147,3,2,0
4720,"23, 1, 0, 47, 17, 0, 9, 36, 10, 1",2.4,0.0,71.0,8.0,26.0,4,2,6,1,30.497988,3,1,0
4721,"19, 2, 0, 20, 2, 0, 3, 14, 3, 0",1.5,0.0,69.0,9.0,30.0,4,2,6,1,30.285072,3,1,0

In [46]:
merged_df.to_csv('Vectorized_Seoul_Merged.csv')