In [26]:
import pandas as pd

data = pd.read_csv("C:\\Users\\choiyool00\\Desktop\\Co-op\\ann\\csvs\\deli3.csv", names=['Hour Time', 'Category', 'State', 'City', 'Number of Deliveries' ])
seoul = data.query('State == "서울특별시"')

In [27]:
temp_data = pd.read_csv("C:\\Users\\choiyool00\\Desktop\\Co-op\\ann\\csvs\\surface2019_2019.csv", encoding='euc-kr')
temp_data

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2019-01-01 00:00,-5.5,NaN,1.0,290.0,54.0,2.2,-13.3,1024.1,...,NaN,NaN,1573,NaN,NaN,-6.0,-3.4,-1.1,0.0,1.0
1,108,2019-01-01 01:00,-5.9,NaN,1.8,270.0,56.0,2.2,-13.2,1024.0,...,NaN,NaN,1569,NaN,NaN,-6.5,-3.9,-1.4,0.0,1.0
2,108,2019-01-01 02:00,-6.5,NaN,1.2,290.0,60.0,2.3,-12.9,1024.2,...,NaN,NaN,1462,NaN,NaN,-7.1,-4.2,-1.6,0.0,1.0
3,108,2019-01-01 03:00,-6.9,NaN,2.2,270.0,62.0,2.3,-12.9,1024.3,...,Ci,NaN,1281,NaN,NaN,-7.3,-4.6,-1.8,0.0,1.0
4,108,2019-01-01 04:00,-7.2,NaN,1.2,270.0,57.0,2.0,-14.2,1023.9,...,Ci,NaN,1195,NaN,NaN,-7.5,-4.7,-2.0,-0.1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,108,2019-12-31 19:00,-6.9,NaN,1.7,290.0,38.0,1.4,-18.8,1024.1,...,NaN,NaN,1981,NaN,NaN,-3.6,-0.6,0.9,2.3,3.3
8756,108,2019-12-31 20:00,-7.0,NaN,2.9,290.0,41.0,1.5,-18.0,1024.1,...,NaN,NaN,1912,NaN,NaN,-4.1,-0.7,0.9,2.3,3.3
8757,108,2019-12-31 21:00,-7.4,NaN,0.8,20.0,43.0,1.5,-17.8,1023.9,...,NaN,NaN,1993,NaN,NaN,-4.4,-0.8,0.9,2.3,3.3
8758,108,2019-12-31 22:00,-8.2,NaN,0.0,0.0,42.0,1.4,-18.8,1023.3,...,NaN,NaN,1990,NaN,NaN,-4.6,-1.0,0.8,2.2,3.2
8759,108,2019-12-31 23:00,-7.4,NaN,0.0,0.0,45.0,1.6,-17.3,1022.9,...,NaN,14.0,2000,NaN,NaN,-3.5,-1.1,0.8,2.2,3.2

In [28]:
seoul.reset_index(inplace=True)

def modify_datetime(row):
    date = row['index']
    raw_hour = str(row['Hour Time'])
    hour_time = '0' + raw_hour if len(raw_hour) == 1 else raw_hour
    hour_time = hour_time + ':00'
    date_time = date + ' ' + hour_time
    row['index'] = date_time
    return row

seoul = seoul.apply(modify_datetime, axis=1)

In [29]:
seoul = seoul.rename(columns={'index': 'Date Time'})

In [30]:
seoul

,Date Time,Hour Time,Category,State,City,Number of Deliveries
0,2019-05-19 14:00,14,치킨,서울특별시,중구,1
1,2019-05-21 16:00,16,한식,서울특별시,도봉구,1
2,2019-05-24 12:00,12,치킨,서울특별시,도봉구,1
3,2019-05-27 23:00,23,치킨,서울특별시,중구,1
4,2019-05-29 16:00,16,치킨,서울특별시,도봉구,1
...,...,...,...,...,...,...
172086,2019-12-31 23:00,23,회,서울특별시,구로구,3
172087,2019-12-31 23:00,23,회,서울특별시,노원구,7
172088,2019-12-31 23:00,23,회,서울특별시,도봉구,2
172089,2019-12-31 23:00,23,회,서울특별시,영등포구,1
172090,2019-12-31 23:00,23,회,서울특별시,은평구,9

In [31]:
temp_data = temp_data[['일시', '기온(°C)', '강수량(mm)', '습도(%)', '적설(cm)', '현상번호(국내식)']]
temp_data = temp_data.rename(columns={'일시': 'Date Time'})

In [32]:
merged = pd.merge(seoul, temp_data, on='Date Time')

In [33]:
merged.head(100)

,Date Time,Hour Time,Category,State,City,Number of Deliveries,기온(°C),강수량(mm),습도(%),적설(cm),현상번호(국내식)
0,2019-05-19 14:00,14,치킨,서울특별시,중구,1,21.0,0.4,91.0,NaN,1901.0
1,2019-05-21 16:00,16,한식,서울특별시,도봉구,1,22.8,NaN,30.0,NaN,NaN
2,2019-05-24 12:00,12,치킨,서울특별시,도봉구,1,28.8,NaN,33.0,NaN,NaN
3,2019-05-27 23:00,23,치킨,서울특별시,중구,1,15.3,NaN,62.0,NaN,NaN
4,2019-05-29 16:00,16,치킨,서울특별시,도봉구,1,26.3,NaN,28.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,2019-06-07 21:00,21,카페/디저트,서울특별시,노원구,1,21.0,NaN,61.0,NaN,NaN
96,2019-06-08 10:00,10,카페/디저트,서울특별시,도봉구,1,23.3,NaN,47.0,NaN,NaN
97,2019-06-08 11:00,11,카페/디저트,서울특별시,노원구,1,24.4,NaN,41.0,NaN,NaN
98,2019-06-08 11:00,11,카페/디저트,서울특별시,도봉구,1,24.4,NaN,41.0,NaN,NaN
99,2019-06-08 12:00,12,카페/디저트,서울특별시,도봉구,1,26.0,NaN,35.0,NaN,NaN

In [34]:
merged.to_csv('merged_temp_and_deli2019.csv', index=False)